[submodule "external/radiance"]
	path = external/radiance
	url = https://github.com/lbnl-eta/radiance
	branch = master
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
